.nav-barone {
    display: flex;
    flex-direction: row-reverse;
    align-content:center;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    
}
.nav-barone ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: montserrat;}
.nav-barone li {
        float: right;
        margin-right: 40px;
    }
.nav-barone li a{
        display: inline-block; color: #FFFFFF; text-align: center;
        padding: 10px 10px; text-decoration: none;
    }

    .nav-barone li a:hover {
        background-color:coral;
    }
    .nav-barone ul li:hover::after{
    width:100%; }
    .nav-barone ul li::after{
        content:'';
        width:100%;
        height: 2px;
        background:rgb(0, 0, 0);
        display: flex;
        margin: auto;
        transition: 0.5s;
    }


.nav-bar {
    display: flex;
    flex-direction: row-reverse;
    align-content:center;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#FFFFFF;
    font-family: montserrat;
    
    
}
.nav-bar li {
    float: right;
    margin-right: 30px;
}
.nav-bar li a{
    display: inline-block; color: #000000; text-align: center;
    padding: 20px 20px; text-decoration: none;
}
.nav-bar li a:hover {
    background-color: #FFFFFF;
}
.nav-bar ul li:hover::after{
width:100%; }
.nav-bar ul li::after{
    content:'';
    width:0%;
    height: 2px;
    background:rgb(0, 0, 0);
    display: flex;
    margin: auto;
    transition: 0.5s;
}

body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {

    background-image: url("KSRTC\ image.png");
  

    min-height: 550px;
  
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /*form container */
  .container {
 position: absolute;
    display: flex;
    right: 0;
    margin-right: 400px;
    margin-left: 40px;
    margin-top: 500px;
    max-width: 1600px;
    padding: 30px;
    background-color: white;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
  }
  
  /* Full-width input fields */
    input[type=text], input[type=text] {
   width: 200px;
    padding: 15px;
    margin-right: 20px;
    border: none;
    background: #f1f1f1;
  
  }
  
  input[type=text]:focus, input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /*submit button */
  .btn {
    background-color:#E06B31;
    color: white;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-left: 30px;
    margin-right: 20px;
  }
  
  .btn:hover {
    opacity: 1;
  }

  .new-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
  }
  /* unvisited link */
a:link {
  color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: #FFFFFF;
}

/* selected link */
a:active {
  color: #FFFFFF;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
  